body{ 
    line-height: 50px;
    text-align:center;
    background-image: url("photos/background.png");
    background-attachment: fixed;
    background-size: cover;
    }
.self{
   width: 50%; 
}
a{
    text-decoration: none;
    color: black;
}
a:link{
    color: black;
}
a:visited{
    color:gray;
}
a:active{
    color: black;
}
#de{
    width: 250px;
    height:250px;
    border: 5px solid white;
    margin: auto;
    text-align: center;
    box-shadow: 10px 5px 5px gainsboro;
    background-color: white;
    border-radius: 30px;
    line-height: 210px;
    filter: grayscale(0);
    transition: filter 1s ease-in;
}
#de:hover{
    filter: grayscale(2);
    transition: filter 1s ease-in;
}
#gd{
    width: 250px;
    height:250px;
    border: 5px solid white;
    margin: auto;
    text-align: center;
    box-shadow: 10px 5px 5px gainsboro;
    background-color: white;
    border-radius: 30px;
    line-height: 210px;
    transform: scale(1);
    position: relative;
    transition: all 1s ease-in;
}
#gm{
    width: 250px;
    height:250px;
    border: 5px solid white;
    margin: auto;
    box-shadow: 10px 5px 5px gainsboro;
    background-color: white;
    border-radius: 30px;
    line-height: 210px;
    transform: scale(1);
    position: relative;
    transition: all 1s ease-in;
}
#rap{
    width: 250px;
    height:250px;
    border: 5px solid white;
    margin: auto;
    text-align: center;
    box-shadow: 10px 5px 5px gainsboro;
    background-color: white;
    border-radius: 30px;
    line-height: 210px;
    transform: scale(1);
    position: relative;
    transition: all 1s ease-in;
}
#yt{
    width: 500px;
    height:500px;
    border: 5px solid white;
    grid-area: 1/2;
    margin:50px;
    box-shadow: 10px 5px 5px gainsboro;
    background-color: white;
    border-radius: 30px;
    transform: scale(1);
    position: relative;
    transition: all 1s ease-in;
}
.intro1{
    display: grid;
    gap: 20px;
    grid-template-columns: 255px 255px;
    grid-template-rows: 255px 255px;
    margin: 50px;
    justify-content: right;
}
#header{
    display: grid;
    grid-template-columns: 640px 640px 640px;
    grid-template-rows: 500px 100px 100px;
    justify-content: center;
    align-content: center;
}

#skill{
    width: 500px;
    height:500px;
    border: 5px solid white;
    margin: 50px;
    text-align: center;
    line-height:80px;
    box-shadow: 10px 5px 5px gainsboro;
    background-color: white;
    border-radius: 30px;
    transform: scale(1);
    position: relative;
    transition: all 1s ease-in;
}
.cbdk{
    width: 50%;
}
.c{
    width: 500px;
    height:500px;
    border: 5px solid white;
    padding-left: 20px;
    padding-right: 20px;
    margin: 20px 20px 20px 20px;
    text-align: center;
    line-height: 100px;
    box-shadow: 10px 5px 5px gainsboro;
    background-color: white;
    border-radius: 30px;
    transform: scale(0.9);
    position: relative;
    transition: all 1s ease-in;
}
.c:hover{
    transform: scale(1);
    z-index: 10;
    transition: all 1s ease-in;
}
.utpa{
    width: 50%;
}
.u{
    width: 500px;
    height:500px;
    border: 5px solid white;
    padding-left: 20px;
    padding-right: 20px;
    margin: 20px 20px 20px 20px;
    text-align: center;
    line-height: 100px;
    box-shadow: 10px 5px 5px gainsboro;
    background-color: white;
    border-radius: 30px;
    transform: scale(0.9);
    position: relative;
    transition: all 1s ease-in
}
.u:hover{
    transform: scale(1.0);
    z-index: 10;
    transition: all 1s ease-in;
}
.we{
    width: 20%
}
.w{
    width: 500px;
    height:500px;
    border: 5px solid white;
    padding-left: 20px;
    padding-right: 20px;
    margin: 20px 20px 20px 20px;
    text-align: center;
    line-height: 100px;
    box-shadow: 10px 5px 5px gainsboro;
    background-color: white;
    border-radius: 30px;
    transform: scale(0.9);
    position: relative;
    transition: all 1s ease-in;
}
.w:hover{
    transform: scale(1);
    z-index: 10;
    transition: all 1s ease-in;
}
#thing{
    display: grid;
    grid-template-columns: 640px 640px 640px;
    grid-template-rows: 600px 600px 600px ;
    gap: 10px;
    margin-top: 20px;
}